@font-face {
    font-family: "Knockout-HTF31-JuniorMiddlewt";
    src: url("https://db.onlinewebfonts.com/t/0035905f200af0732a0724b47a17307e.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/0035905f200af0732a0724b47a17307e.woff2") format("woff2");
}

@font-face {
    font-family: "JohnDoe Bold";
    src: url("https://db.onlinewebfonts.com/t/8c1a66d16b2e0e1731913c391da38b74.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/8c1a66d16b2e0e1731913c391da38b74.ttf") format("truetype");
}

.riot-fest-schedule {
    background-color: #fff;
    color: #4a4a4a;
}

.riot-fest-schedule,
.riot-fest-schedule * {
    box-sizing: border-box;

    --my-pick-color: #e10337;
    --friend-pick-color: #2fb2e6;
    --button-color: #f3bf08;
    --button-text-color: #000;
    --header-height: 55px;

    font-family: 'Knockout-HTF31-JuniorMiddlewt',
        Arial,
        sans-serif;
    font-size: 12px;
    max-width: 1000px;
    margin: auto;

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    header {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        margin: 10px 10px 20px 10px;

        .logo {
            flex: 1 1 auto;
            min-width: 250px;

            img {
                min-width: 300px;
                display: block;
                width: 100%;
            }
        }
    }

    .instructions {
        flex: 0 0 auto;
        text-align: center;

        h3 {
            font-size: 1.7em;
            margin-bottom: 10px;
        }

        p {
            margin: 10px;
            margin-top: 0;
        }

        button {
            display: block;
            margin: auto;
            margin-bottom: 10px;
            padding: 10px;
            background-color: var(--button-color);
            color: var(--button-text-color);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            min-height: 34px;
        }

        button.secondary {
            background-color: transparent;
            color: black;
            border: 1px solid var(--button-color);
        }

        input {
            display: block;
            margin: auto;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
            min-height: 34px;
        }

        .input-button-container {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin: auto;
            margin-bottom: 10px;

            input {
                flex: 1;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin: 0;
                font-size: 12px;
            }

            button {
                flex: 0 1;
                margin: 0;
            }
        }
    }

    h2 {
        font-family: "JohnDoe Bold", sans-serif;
        text-align: center;
        margin: 0;
        font-size: 3em;
        font-weight: 900;
        color: black;
    }

    h3 {
        font-family: "Archivo Black", sans-serif;
        font-weight: 700;
        text-align: center;
    }

    td {
        vertical-align: top;
    }

    table,
    th,
    tr,
    td {
        padding: 0;
        margin: 0;
        border-collapse: collapse;
        text-align: center;
    }

    thead {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #fff;
        text-transform: uppercase;
    }

    thead tr {
        height: var(--header-height);
    }

    thead th {
        font-family: "JohnDoe Bold", sans-serif;
        vertical-align: bottom;
        padding-bottom: 10px;

        .sub-title {
            font-family: "JohnDoe Bold", sans-serif;
            font-size: 0.8em;
        }
    }

    .day {
        border-radius: 5px;
        margin-bottom: 100px;
        /* display: flex; */
        position: relative;
        /* width: fit-content; */
    }

    .day:last-of-type {
        margin-bottom: 50px;
    }

    .time-column {
        width: 100%;
        padding: 0 1px;
        flex-shrink: 0;
        margin-top: var(--header-height);
        position: absolute;
    }

    .time-column div {
        font-size: 0.8em;
        border-top: 1px solid #ccc;
        padding: 0px 5px;
    }

    .stage-container {
        width: 100%;
        table-layout: fixed;
    }

    td.time-cell {
        color: rgba(0, 0, 0, 0);

        .time-column {
            margin-top: 0;
            position: relative;
        }
    }

    .eventsContainer {
        position: relative;
    }

    .event {
        background-color: #3C2623;
        color: white;
        padding: 5%;
        border-radius: 5px;
        position: absolute;
        left: 0;
        right: 0;
        text-transform: uppercase;
        text-align: center;
        margin: 0 1px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div {
            margin: 0;
            padding: 0;
        }

        .notes {
            font-size: 10px;
            margin: 4px 0 0 0;
            font-style: italic;
        }
    }

    .event.friend {
        background-color: var(--friend-pick-color);
    }

    .event.chosen {
        background-color: var(--my-pick-color);
    }

    .event.friend.chosen {
        background-image: repeating-linear-gradient(-45deg,
                transparent,
                transparent 15px,
                var(--friend-pick-color) 15px,
                var(--friend-pick-color) 30px);
    }

    .friday {
        .event.friend {
            background-color: #A78200;
            color: white;
        }

        .event.chosen {
            background-color: #F4C400;
            color: #3C2623;
        }

        .event.friend.chosen {
            background-image: repeating-linear-gradient(-45deg,
                    transparent,
                    transparent 15px,
                    #A78200 15px,
                    #A78200 30px);
            color: white;
        }
    }

    .saturday {
        .event.friend {
            background-color: #008DB1;
            color: white;
        }

        .event.chosen {
            background-color: #00C3F4;
            color: #3C2623;
        }

        .event.friend.chosen {
            background-image: repeating-linear-gradient(-45deg,
                    transparent,
                    transparent 15px,
                    #008DB1 15px,
                    #008DB1 30px);
            color: white;
        }
    }

    .sunday {
        .event.friend {
            background-color: #A90030;
            color: white;
        }

        .event.chosen {
            background-color: #FF0041;
            color: #3C2623;
        }

        .event.friend.chosen {
            background-image: repeating-linear-gradient(-45deg,
                    transparent,
                    transparent 15px,
                    #A90030 15px,
                    #A90030 30px);
            color: white;
        }
    }

    @media only screen and (max-width: 600px) {
        --header-height: 80px;

        header {
            flex-wrap: wrap;
        }

        .event {
            font-size: 0.75em;
            word-wrap: break-word;
            hyphens: auto;
        }
    }
}